@charset "UTF-8";



		/* Basic */
	head
	{
		float: left;
		
	}
	body
	{
		margin: 0;
		float: left;
	}
	input,textarea,select
	{
		font-size: 13pt;
	}
	
	body, h1, h2, h3, h4, h5, h6
	{
		margin: 0 0 0.75em 0;
		color: #1B1B1B;
	}

	h1
	{
		font-size: 4em;
	}

	h2
	{
		font-size: 2em;
	}
	
	h3
	{
		font-size: 1.5em;
	}

	p
	{
		margin-top: 0em;
		margin-bottom: 0em;
		padding: 0.6em 0em 0.6em 0em;
		font-size: 1.2em;
		line-height: 2em;
		letter-spacing: 0.02em;
	}
	
	p strong
	{
		font-weight: 200;
		font-size: 1em;
		line-height: 1.5em;
	}

/* Containers

	.\36 2u{
		width: 100%;
		clear: none;
		margin-left: 0;
	}

*/

	.container {
		margin-left: auto;
		margin-right: auto;
	}


/* Wrappers */

	.wrapper
	{
		clear: both;
		padding: 2em;
	}
